<?xml version="1.0"?>

<launch>

  <!-- <arg name="goal_topic" default="/cf1/cmd_position"/> -->
  <arg name="goal_topic" default="goal"/>
  <arg name="goal_frame" default="map"/>
  <!-- x, y, z, yaw -->
  <arg name="goal_pose" default="0.0, 1.0, 0.6, -45"/>
  <!-- <arg name="goal_pose" default="0.3, 0.9, 0.6, 90"/> -->
  <!-- <arg name="goal_pose" default="0.1, 0.4, 0.6, -90"/> -->

  <!-- <arg name="goal_topic" default="/cf1/cmd_position"/> -->


  <!-- <node name="navgoal3" pkg="milestone1" type="navgoal3.py" output="screen" /> -->

  <node name="set_points" pkg="milestone1" type="set_points.py" output="screen">

    <param name="goal_topic" value="$(arg goal_topic)"/>
    <param name="goal_frame" value="$(arg goal_frame)"/>
    <param name="goal_pose" value="$(arg goal_pose)"/>

  </node>


</launch>

